* {
    margin: 0;
    box-sizing: border-box;
}

/* h3 {
    text-transform: uppercase;
    font-size: 1.7rem;
    border: 2px solid black;
    text-align: center;
} */

button {
    border: none;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
    font-family: inherit;
}

/* buttons */
.btn {
    border-radius: 4px;
    display: inline-block;
}

.title {
    text-align: center;
}

.title2 {
    text-align: center;
    font-size: 14px;
}

.buyer {
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    border: none;
    text-transform: uppercase;
    text-align: left;
}

.word {
    border-bottom: 0.8px solid black;
    padding: 4px 10px;
    text-align: left;
    overflow-wrap: break-word;
    box-sizing: border-box;
    border-left: 1px solid black;
    border-right: 1px solid black;

}

.total {
    font-size: 11px;
    font-family: inherit;
    padding: 0.8rem 1.6rem;
}


.word-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.word-header p {
    margin: 0;
}

.eoe {
    font-size: 14px;
}

.total-in-word {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.total-in-words {
    font-size: 15px;
    margin-top: 5px;
}

.om {
    width: 100%;
    border-collapse: collapse;
}

.om td,
.om th {
    border: 1px solid black;
    padding: 4px 8px;
}

.om td:first-child,
.om th:first-child {
    width: 85%;
    border-top: none;
}

.om td:last-child,
.om th:last-child {
    width: 15%;
    border-top: none;
}

.right-header {
    text-align: center;
}

.total-label {
    text-align: right;
}

.invoice {
    /* width: 95%; */
    font-family: Arial;
    padding: 8mm 8mm calc(8mm + 30px);
    margin: 10mm auto;
    /* border: 2px solid black; */
}

.Load-data {
    padding: 15px;
    cursor: pointer;
    background-color: green;
    color: white;
    border-color: black;
    border-radius: 15px;
}

.select-box {
    /* border-bottom: 2px solid black; */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* TOP */
.top {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

/* LEFT */
.left {
    width: 40%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}

.box {
    border-bottom: 1px solid black;
    padding: 10px;
    font-size: 13px;
    line-height: 1.5;
}


.box:last-child {
    border-bottom: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* margin-top: 20px; */
}

td,
th {
    border: 1px solid black;
    padding: 3px;
    min-height: 70px;
    text-align: left;
    vertical-align: top;
}

/* RIGHT */
.right {
    width: 60%;
}

.right-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

/* remove only outer border */

.right-table tr:first-child td {
    border-top: none;
} 

 .right-table tr:last-child td {
    border-bottom: none;
}

.right-table td:first-child {
    border-left: none;
}

.right-table td:last-child {
    border-right: none;
}

.right-table td {
    width: 50%;
    vertical-align: top;
    padding: 6px 8px;
    line-height: 1.3;
    box-sizing: border-box;
    min-height: 70px;
}

.right-table label {
    font-weight: bold;
    margin-right: 5px;
    font-size: 13px;
}

.right-table input {
    width: 100%;
    display: block;
    font-size: 14px;
    word-wrap: break-word;
    white-space: normal;
    height: auto;
    min-height: 1.2em;
}

/* TABLE */
.table-product-india {
    width: 100%;
    margin-left: 0;
    border-collapse: collapse;
    border-top: none;
}

.table-product-nepal {
    width: 100%;
    margin-left: 0;
    border-collapse: collapse;
    border-top: none;
}

.table-product-india tr:first-child th,
.table-product-india tr:first-child td {
    border-top: none;
}

.table-product-nepal tr:first-child th,
.table-product-nepal tr:first-child td {
    border-top: none;
}

.table-product-india th,
.table-product-india td {
    padding: 4px 4px 4px 6px;
    font-size: 13px;
    box-sizing: border-box;
}

.table-product-nepal th,
.table-product-nepal td {
    padding: 4px 4px 4px 6px;
    font-size: 13px;
    box-sizing: border-box;
}

.table-product-india td,
.table-product-nepal td {
    /* padding-top: 50px; */
    padding-bottom: 50px;
}

input[list] {
    padding-right: 0 !important;
    background-image: none !important;
}

input[list]::-webkit-calendar-picker-indicator {
    display: none !important;
}

input::-webkit-list-button {
    display: none !important;
}

input:disabled {
    background: transparent;
    color: black;
    opacity: 1;
    cursor: default;
}

.table-product-india th:nth-child(1),
.table-product-india td:nth-child(1) {
    width: 25%;
}

.table-product-india th:nth-child(2),
.table-product-india td:nth-child(2) {
    width: 12%;
}

.table-product-india th:nth-child(3),
.table-product-india td:nth-child(3) {
    width: 9%;
}

.table-product-india th:nth-child(4),
.table-product-india td:nth-child(4) {
    width: 10%;
}

.table-product-india th:nth-child(5),
.table-product-india td:nth-child(5) {
    width: 12%;
}

.table-product-india th:nth-child(6),
.table-product-india td:nth-child(6) {
    width: 11%;
}

.table-product-india th:nth-child(7),
.table-product-india td:nth-child(7) {
    width: 13%;
}

.table-product-nepal th:nth-child(1),
.table-product-nepal td:nth-child(1) {
    width: 35%;
}

.table-product-nepal th:nth-child(2),
.table-product-nepal td:nth-child(2) {
    width: 20%;
}

.table-product-nepal th:nth-child(3),
.table-product-nepal td:nth-child(3) {
    width: 10%;
}

.table-product-nepal th:nth-child(4),
.table-product-nepal td:nth-child(4) {
    width: 15%;
}

.table-product-nepal th:nth-child(5),
.table-product-nepal td:nth-child(5) {
    width: 20%;
}

.myTextarea {
    width: 100%;
    min-height: 18px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: auto;
    margin: 0;
    line-height: 1.1;
    border: none;
    outline: none;
    resize: none;
    background: white;
    overflow: hidden;
    white-space: pre-wrap;
    word-break: normal;
    overflow-wrap: normal;
}

/* BUTTON */
.print-btn {
    margin-top: 10px;
    padding: 8px 12px;
    cursor: pointer;
}

.bottom-section {
    border: 1px solid black;
    border-top: none;
    page-break-inside: avoid !important;
    break-inside: avoid !important;
}

.bottom-grid {
    display: flex;
    /* border: 1px solid black; */
    min-height: 170px;
    font-size: 13px;
}

.declaration-box {
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    min-height: 170px;
}

.tax-words {
    margin: 0;
}

.declaration-content {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 5px;
    font-size: 16px;
}

.declaration-box p {
    margin: 0;
    line-height: 1.3;
}

.underline {
    text-decoration: underline;
}

.bank-box {
    width: 40%;
    /* padding: 30px; */
    box-sizing: border-box;
    position: relative;
    margin-top:40px;
}

.bank-box p {
    margin: 0 0 6px 0;
}

.bank-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 6px; 
    /* line-height: 1.4; */
}

.bank-row span {
    width: 160px;
    /* font-weight: 500; */
}

.bank-row b {
    flex: 1;
    text-align: left;
}

.signature-box {
    width: 100%;
    height: 70px;
    text-align: right;
    /* margin-top: 10px; */
    border-top: 1px solid black;
    border-left: 1px solid black;
}

/* .signature-box b{
    display: block;
    margin-right: 25px;
}

.signature-box p {
    margin-right: 15px;
    margin-top: 40px;
    font-size: 14px;
} */

.footer-image {
    width: 110px;
    height: auto;
    object-fit: contain;
    margin-right: 90px;
}

.footer-text {
    text-align: center;
    padding: 6px;
    font-size: 15px;
    clear: both;
    margin-top: 10px;
}


@media print {

    @page {
        size: A4 portrait;
        margin: 2mm;
    }

    body * {
        visibility: hidden;
    }

    .invoice,
    .invoice * {
        visibility: visible;
    }

    .invoice {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        min-height: auto;
        margin: 0 auto;
        margin-top: 10mm;
        padding: 2mm;
        /* border: 2px solid #000; */
        box-sizing: border-box;
        page-break-after: avoid;
        page-break-inside: avoid;
    }

    .print-btn,
    .select-box,
    .Load-data {
        display: none !important;
    }

  .top {
        border-left: none !important;
        border-right: none !important;
    }

    .left {
        border-left: 1px solid black !important;
    }

    .right {
        border-right: 1px solid black !important;
    }


    input,
    textarea {
        border: none !important;
        outline: none !important;
        background: transparent !important;
        resize: none;
        padding: 0;
        margin: 0;
    }

    tr,
    td,
    th,
    .box,
    .bottom-section {
        page-break-inside: avoid !important;
    }
    
    .table-product-nepal {
        width: 100% !important;
        table-layout: fixed !important;
    }

    .invoice,
    .table-product-india,
    .table-product-nepal,
    .bottom-section,
    .bottom-grid,
    .footer-image,
    .footer-text,
    table,
    tr,
    td,
    th {
        page-break-inside: avoid !important;
        break-inside: avoid !important;
    }
}

/* =========================
   MOBILE RESPONSIVE DESIGN
==========